@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
.icon{
  display: inline-block;
  position: relative;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 1.47em;
  line-height: 2em;
  background-color: #dedede;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 5px;
  /*box-shadow: 0px 3px 0px #bdbdbd, 0px 3px 10px #bababa;*/
  -webkit-transition:background-color 250ms ease 0s;
  transition:background-color 250ms ease 0s;
}

.zocial-facebook{margin-left: -8px}

.icon:hover{
  background-color: #3783ab;
}
/*.icon.facebook:hover{background-color: #4986c7;}
.twitter:hover{background-color: #4cb6e8;}
.linkedin:hover{background-color: #29a0cc;}
.youtube:hover{background-color: #a32929;}
.flickr:hover{background-color: #c257ad;}
.email:hover{background-color: #d5b120;}*/

p {
    font-size: 18px;
    line-height: 150%;
    font-family: Helvetica;
    color: white;
    font-family: Lato;
}

.icon:hover{
  color: #fff;
  /*box-shadow: 0px 3px 0px #686868, 0px 3px 10px #7e7e7e;*/
}

.icon:active{
  box-shadow: inset 0px 1px 4px #3d3d3d, 0px 0px 0px #bdbdbd;
  top: 3px;
}
.footer-section {
    background-color: #2f2f2f;
    width: 100%;
    height: 27vh;
    position: relative;
    overflow: hidden;
}

.footer-footies {
    width: 33.333333%;
    float: left;
    text-align: center;
}
h2, h3, h5, h4 {
    color: white;
    font-family: Lato;
    font-weight: 300;
}


body {
    background-color: rgba(47,47,47,0.95);
    font-family: Lato, sans-serif;
}
a { 
    text-decoration: none;
}
a:hover {
    color: #2b6584;
}
.btn {
    font-family: Lato;
    margin: 2rem auto;
    display: block;
    height: 50px;
    width: 300px;
    padding: 2px;
    text-decoration: none;
    font-weight: 300;
    overflow: hidden;
    border-radius: 30px;
    transition: all .2s linear;
    background: -webkit-linear-gradient(-45deg, #1f475d 1%, #605dcb 100%);
    /* Chrome10+,Safari5.1+ */
}
.btn:hover {
    background: -webkit-linear-gradient(75deg, #1f475d 1%, #605dcb 100%);
    /* Chrome10+,Safari5.1+ */
}
.btn-text {
    height: calc(100% - 1rem);
    display: block;
    border-radius: 28px;
    background: rgba(0, 0, 0, 0.85);
    text-align: center;
    padding: 0.5rem 4rem;
    font-size: 1.7rem;
    color: #fff;
}

#nav-icon {
  width: 26px;
  height: 19px;
  margin-left: 95%;
  margin-top: 35px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  position: fixed;
  z-index: 5;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #3783ab;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -2px;
  left: 0px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 16px;
  left: 0px;
}

.fullscreen-nav {
  padding-top: 40px;
  height: 100%;
  width: 100%;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  opacity: 0;
  transition: 0.25s;
  z-index: -3;
}

.fullscreen-nav.open {
  opacity: 1;
  z-index: 1;
}

.main-menu {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  max-width: 300px;
  list-style: none;
  left: 0;
  right: 0;
  top: 20%;
  z-index: -4;
}

.nav-link {
  padding: 20px 0px;
  font-size: 48px;
  border-bottom: 1px solid #95a5a6;
  font-weight: 700;
  -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
   transition:.5s;
   z-index: -5;
}

.nav-link:hover {
    color: #2b6584;
}


@media screen and (max-width: 768px) {

  .nav-link {
    font-size: 32px;
  }
}

.nav-link:hover {
  color: #c0392b;
}