body {
    margin: 0;
}
.section {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.slider1 {
    background: url(../img/bg-1SM.jpg)50% 50% no-repeat;
    background-size: cover;
    left: 0;
}
.slider2 {
    background: url(../img/bg-2SM.jpg) 50% 50% no-repeat;
    background-size: cover;
    left: 100%;
}
.slider3 {
    background: url(../img/bg-3SM.jpg)50% 50% no-repeat;
    background-size: cover;
    left: 200%;
}
#top {
    background: linear-gradient( rgba(20, 20, 20, .9), rgba(20, 20, 20, .9)), url(../img/header-1SM.jpg) 50% 50% no-repeat #000000;
    background-size: cover;
}
#case-1 {
    background: url(../img/bg-1SM.jpg) 50% 50% no-repeat #000000;
    background-size: cover;
}
#case-2 {
    background: url(../img/bg-2SM.jpg) 50% 50% no-repeat #000000;
    background-size: cover;
}
#case-3 {
    background: url(../img/bg-3SM.jpg) 50% 50% no-repeat #000000;
    background-size: cover;
}
.header-title {
    margin-top: 30%;
}
.header-text {
    text-align: center;
    color: #3783ab;
    font-family: Raleway;
    font-weight: 800;
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.description {
    text-align: center;
}
.description-text {
    color: white;
    font-family: Lato;
    font-size: 8px;
    margin: 0;
    padding: 0;
}
.carousel-img {
    width: 100%;
    height: 100vh;
    position: absolute;
    animation: slider 15000ms ease-in-out forwards infinite;
}
.case-title {
    float: left;
    background: linear-gradient( rgba(20, 20, 20, .7), rgba(20, 20, 20, .7));
    margin: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
    z-index: 2;
}
.case-title-text {
    font-family: Lato;
    font-weight: 300;
    color: white;
    font-size: 32px;
    float: none;
}
.case-title-desc {
    font-family: Lato;
    font-weight: 300;
    color: white;
    font-size: 16px;
}
@media all and (min-width: 481px) {
    #top {
        background: linear-gradient( rgba(20, 20, 20, .9), rgba(20, 20, 20, .9)), url(../img/header-1MD.jpg);
    }
    #case-1 {
        background: url(../img/bg-1MD.jpg) 50% 50% no-repeat;
        background-size: cover;
    }
    #case-2 {
        background: url(../img/bg-2MD.jpg) 50% 50% no-repeat;
        background-size: cover;
    }
    #case-3 {
        background: url(../img/bg-3MD.jpg) 50% 50% no-repeat;
        background-size: cover;
    }
    .slider1 {
        background: url(../img/bg-1MD.jpg) 50% 50% no-repeat;
        background-color:  #2f2f2f;
        left: 0;
    }
    .slider2 {
        background: url(../img/bg-2MD.jpg) 50% 50% no-repeat;
        background-color:  #2f2f2f;
        left: 100%;
    }
    .slider3 {
        background: url(../img/bg-3MD.jpg) 50% 50% no-repeat;
        background-color:  #2f2f2f;
        left: 200%;
    }
    .description-text {
        color: white;
        font-family: Lato;
        font-size: 16px;
        margin: 0;
        padding: 0;
    }
    .header-text {
        text-align: center;
        color: #3783ab;
        font-family: Raleway;
        font-weight: 800;
        font-size: 80px;
        margin: 0;
        padding: 0;
    }
    .case-title {
        float: left;
        background: linear-gradient( rgba(20, 20, 20, .7), rgba(20, 20, 20, .7));
        margin: 5vh;
        padding-left: 5vh;
        padding-right: 5vh;
        z-index: 2;
    }
    .case-title-text {
        font-family: Lato;
        font-weight: 300;
        color: white;
        font-size: 64px;
        float: none;
    }
    .case-title-desc {
        font-family: Lato;
        font-weight: 300;
        color: white;
        font-size: 20px;
    }
}
@media all and (min-width: 801px) {
    .header-title {
        margin-top: 30%;
    }
    #top {
        background: linear-gradient( rgba(20, 20, 20, .9), rgba(20, 20, 20, .9)), url(../img/header-1LG.jpg);
    }
    #case-1 {
        background-image: url(../img/bg-1LG.jpg);
    }
    #case-2 {
        background-image: url(../img/bg-2LG.jpg);
    }
    #case-3 {
        background-image: url(../img/bg-3LG.jpg);
    }
    .slider1 {
        background-image: url(../img/bg-1LG.jpg);
        left: 0;
    }
    .slider2 {
        background-image: url(../img/bg-2LG.jpg);
        left: 100%;
    }
    .slider3 {
        background-image: url(../img/bg-3LG.jpg);
        left: 200%;
    }
    .description-text {
        color: white;
        font-family: Lato;
        font-size: 30px;
        margin: 0;
        padding: 0;
    }
    .header-text {
        text-align: center;
        color: #3783ab;
        font-family: Raleway;
        font-weight: 800;
        font-size: 150px;
        margin: 0;
        padding: 0;
    }
    .case-title {
        float: left;
        background: linear-gradient( rgba(20, 20, 20, .7), rgba(20, 20, 20, .7));
        margin: 5vh;
        padding-left: 5vh;
        padding-right: 5vh;
        z-index: 2;
    }
    .case-title-text {
        font-family: Lato;
        font-weight: 300;
        color: white;
        font-size: 64px;
        float: none;
    }
    .case-title-desc {
        font-family: Lato;
        font-weight: 300;
        color: white;
        font-size: 24px;
    }
}
@media all and (min-width: 1040px) {
    .description-text {
        color: white;
        font-family: Lato;
        font-size: 32px;
        margin: 0;
        padding: 0;
    }
    .header-text {
        text-align: center;
        color: #3783ab;
        font-family: Raleway;
        font-weight: 800;
        font-size: 200px;
        margin: 0;
        padding: 0;
    }
}
@media all and (min-width: 1601px) {
    .header-title {
        margin-top: 15%;
    }
    #top {
        background: linear-gradient( rgba(20, 20, 20, .9), rgba(20, 20, 20, .9)), url(../img/header-1HD.jpg);
    }
    #case-1 {
        background-image: url(../img/bg-1HD.jpg);
    }
    #case-2 {
        background-image: url(../img/bg-2HD.jpg);
    }
    #case-3 {
        background-image: url(../img/bg-3HD.jpg);
    }
    .slider1 {
        background-image: url(../img/bg-1HD.jpg);
        left: 0;
    }
    .slider2 {
        background-image: url(../img/bg-2HD.jpg);
        left: 100%;
    }
    .slider3 {
        background-image: url(../img/bg-3HD.jpg);
        left: 200%;
    }
    .case-title {
        float: left;
        background: linear-gradient( rgba(20, 20, 20, .7), rgba(20, 20, 20, .7));
        margin: 5vh;
        padding-left: 5vh;
        padding-right: 5vh;
        z-index: 2;
    }
    .case-title-text {
        font-family: Lato;
        font-weight: 300;
        color: white;
        font-size: 64px;
        float: none;
    }
    .case-title-desc {
        font-family: Lato;
        font-weight: 300;
        color: white;
        font-size: 24px;
    }
}
/*
.carousel-img p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 64px Helvetica, sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
*/

@keyframes slider {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-200%);
    }
}