.container {
    height: 100vh;
}

.text-center{
	text-align: center;
	margin-bottom: 1em;
        color: white;
    font-family: Lato;
    font-weight: 300;
    font-size: 72px;
}

.lightbox-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.lightbox-gallery div > img {
  max-width: 100%;
  display: block;
}

.lightbox-gallery div {
  margin: 10px;
  flex-basis: 180px;
}

@media only screen and (max-width: 480px) {
  .lightbox-gallery {
    flex-direction: column;
    align-items: center;
  }

  .lightbox > div {
    margin-bottom: 10px;
  }
}


/*Lighbox CSS*/


.lightbox{
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	padding-top: 30px;
	box-sizing: border-box;
}

.lightbox img{
	display: block;
  margin: auto;
}

.lightbox .caption{
	margin: 15px auto;
	width: 50%;
	text-align: center;
	font-size: 1em;
	line-height: 1.5;
	font-weight: 700;
	color: #eee;
}
/* Portfolio LIST CSS DOWN BELOW */
/* @offsetSize * 2 means the content won't appear to move at all. Set to a lower value for squishing effects. */
/*////////////////////////////////////////*/

.panels {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  pointer-events: none;
}
.panels__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
  width: 120%;
  margin: 0 -10%;
  visibility: hidden;
}
.panel {
  display: inline-block;
  height: 100%;
  visibility: visible;
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
  text-decoration: none;
}
/*////////////////////////////////////////*/
/* Image/Text Container */
.panel__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: center center no-repeat;
  background-size: cover;
}
.panel__content:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  -webkit-transition: opacity 1s cubic-bezier(0.6, 0, 0.2, 1);
  transition: opacity 1s cubic-bezier(0.6, 0, 0.2, 1);
}
/*////////////////////////////////////////*/
/* Title */
.panel__title {
  pointer-events: auto;
  color: #FFF;
  position: relative;
  z-index: 1;
  -webkit-transition: color 1s cubic-bezier(0.6, 0, 0.2, 1);
  transition: color 1s cubic-bezier(0.6, 0, 0.2, 1);
}
.panel__title:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  border: solid 2px #3783ab;
  z-index: -1;
  padding: 0.5em 1em;
  margin: -0.5em -1em;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 1s cubic-bezier(0.6, 0, 0.2, 1);
  transition: all 1s cubic-bezier(0.6, 0, 0.2, 1);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}
/*////////////////////////////////////////*/
/* Hover States */
.panel {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0, 0.2, 1);
  transition: -webkit-transform 1s cubic-bezier(0.6, 0, 0.2, 1);
  transition: transform 1s cubic-bezier(0.6, 0, 0.2, 1);
  transition: transform 1s cubic-bezier(0.6, 0, 0.2, 1), -webkit-transform 1s cubic-bezier(0.6, 0, 0.2, 1);
  /* Inactive panel */
  /* Override styles for an inactive panel AFTER the hovered panel */
  /* Active panel */
}
.panel .panel__content {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0, 0.2, 1);
  transition: -webkit-transform 1s cubic-bezier(0.6, 0, 0.2, 1);
  transition: transform 1s cubic-bezier(0.6, 0, 0.2, 1);
  transition: transform 1s cubic-bezier(0.6, 0, 0.2, 1), -webkit-transform 1s cubic-bezier(0.6, 0, 0.2, 1);
}
.panel:last-child .panel__content {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}
.panels:hover .panel {
  -webkit-transform: translate3d(-10%, 0, 0);
          transform: translate3d(-10%, 0, 0);
}
.panels:hover .panel .panel__content {
  -webkit-transform: translateX(14%);
          transform: translateX(14%);
}
.panels:hover .panel .panel__content:before {
  opacity: 0.7;
}
.panels .panel:hover ~ .panel {
  -webkit-transform: translate3d(10%, 0, 0);
          transform: translate3d(10%, 0, 0);
}
.panels .panel:hover ~ .panel .panel__content {
  -webkit-transform: translateX(-14%);
          transform: translateX(-14%);
}
.panels .panel:hover {
  z-index: 2;
  -webkit-transform: translate3d(10%, 0, 0);
          transform: translate3d(10%, 0, 0);
  pointer-events: auto;
}
.panels .panel:hover:last-child {
  -webkit-transform: translate3d(-10%, 0, 0);
          transform: translate3d(-10%, 0, 0);
}
.panels .panel:hover .panel__content {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.panels .panel:hover .panel__content:before {
  opacity: 0;
}
.panels .panel:hover .panel__title {
  color: #3783ab;
}
.panels .panel:hover .panel__title:before {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*////////////////////////////////////////*/
/* Specific Design Setup */
.panel__title {
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 0.1em;
}
@media (max-width: 800px) {
  .panel__title {
    font-size: 1.5em;
  }
}
@media (max-width: 600px) {
  .panel__title {
    font-size: 1.25em;
  }
}
html,
body {
  height: 100%;
}

body
{
  background-color:#2f2f2f
}


.wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-content:space-around;
  max-width:1200px;
}
.tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color:#3783ab;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family: Lato;
  
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
 
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    width:400px;
  }
}


